audio-services/logs/*
audio-services/code/old/*
audio-services/code/output/*
audio-services/pretained_models/*
audio-services/code/uploads/*
*.pyc
*.log
audio-services/code/pretrained_models/*
audio-services/tests/main-package/test-cases/pretrained_models/*
volume/mysql/*
volume/uploads/*